<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg" style="background-color: #6a2687; border-block: solid; border-block-color: black; padding-left: 20px;">
        <a class="navbar-brand" style="color: #dedede" href="/Home">Einsenhower Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link prestonbutton" style="color: #ffffff" href="/Home">Home</a>
                <a class="nav-item nav-link prestonbutton" style="color: #c2c2c2" href="/Diagram">Diagram</a>
                <a class="nav-item nav-link prestonbutton" style="color: #8f8f8f" href="/Home/Calendar">Calendar</a>
                <a class="nav-item nav-link prestonbutton" style="color: #696969" href="/Home/About">About</a>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
